<!-- Navbar -->
<nav class="navbar sticky-top navbar-expand-lg navbar-custom fw-bold" id="navbar">
    <div class="container-fluid justify-content-between">
        <a class="navbar-brand" href="{% url 'home' %}">Nuestro portafolio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ms-auto" id="navbarScroll">
            <ul class="navbar-nav ms-auto gap-3">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Somos nosotros</a>
                </li>
                {% if user.is_authenticated and perms.portafolio.view_project %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'view_project' %}">Proyectos</a>
                </li>
                {% endif %}
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'perfil_usuario' %}">
                        <i class="bi bi-person-circle"></i> Perfil
                    </a>
                </li>
                {% endif %}
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="btn btn-primary" href="{% url 'logout' %}">Cerrar sesión</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="btn btn-primary" href="{% url 'login' %}">Iniciar sesión</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
