{% extends "base.html" %}
{% load crispy_forms_tags %}
{%block title%}
Registro
{%endblock%}
{%block content%}
<div class="container mb-3 mt-3">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Registro de Usuario</h3>
                </div>
                <div class="card-body">
                    <form method="POST" action="{% url 'registrarse' %}">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="d-grid gap-2">
                            <button class="btn btn-primary" type="button">Registrarse</button>
                        </div>
                    </form>
                    <div class="text-center mt-3">
                        <p>¿Ya tienes una cuenta? <a href="{% url 'login' %}">Iniciar Sesión</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}